.container {
    width: 1280px;
    margin: 0 auto;
}

.header {
    border-bottom: 1px solid rgba(235, 232, 244, 1);
}

.header-nav {
    display: flex;

    align-items: center;
    justify-content: space-between;
}

.logo {
    color: #22202E;
    font-size: 24px;
    padding-top: 25px;
    padding-bottom: 26px;
}

.top-menu {
    font-size: 16px;
    display: flex;
    gap: 44px;
    padding-left: 0;
    margin: 0;
}

.top-menu-link {
    color: #726E8D;
}

.top-icon {
    display: flex;
    gap: 16px;
    padding-left: 0;
    margin: 0;
}

.top-icon-list {
    display: flex;

}

.top-icon-link {
    width: 16px;
    height: 16px;

}

.serch {
    background-image: url('../img/search.svg');

}

.shop {
    background-image: url('../img/shopping.svg');

}

.user {
    background-image: url('../img/user.svg');
}





.main-content {}

.main-title {
    padding-top: 80px;
    margin: 0;
    font-size: 36px;
    text-align: center;
    font-weight: 400;
    padding-bottom: 24px;
}

.div-conteiner {
    display: flex;
    justify-content: space-between;
    padding-left: 24px;
    padding-right: 24px;
    align-items: center;
}

.div-conteiner-wrap {
    display: flex;
    align-items: center;
}

.div-conteiner-select {
    padding: 12px 24px;
    border: 0;
    color: #2A254B;
    font-size: 16px;
    appearance: none;
    background: url(../img/сaret.svg) no-repeat right;
    background-size: 16px 16px;
    background-position-x: calc(100% - 1px);
}

.div-conteiner-item {
    padding: 0;
}

.div-conreiner-sort {
    display: flex;
    align-items: center;
    width: 245px;
    justify-content: space-between;
}

.sort {
    font-size: 14px;
    color: #2A254B;
    margin: 0;
}

.div-pic-grid {
    margin-top: 5px;
}

.pic-grid-list {
    padding-left: 0;
    margin: 0;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    column-gap: 20px;
    row-gap: 48px;
    padding-top: 28px;
}

.pic-title {
    color: #2A254B;
    font-size: 20px;
    font-weight: 400;
    margin-top: 24px;
    margin-bottom: 8px;



}

.pic-price {
    color: #2A254B;
    font-size: 18px;
    font-weight: 400;
    margin-top: 0;
    margin-bottom: 0;
}

.div-button-after-pictures {
    display: flex;
    justify-content: center;
    margin-bottom: 40px;
    margin-top: 48px;
}

.button-after-pictures {
    background-color: white;
    color: #2A254B;
    font-size: 16px;
    padding: 16px 32px;
    border: none;

}

.section-email {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    background-image: url(../img/background.jpg);
    background-repeat: no-repeat;
    background-size: 50% 100%;
    background-position: left top;
}


.exclusive-offers-div {
    grid-column: 2;
    padding-top: 70px;
    padding-bottom: 70px;
}

.exclusive-offers-title {
    color: #2A254B;
    margin-left: 49px;
    font-size: 32px;
    font-weight: 400;
    margin-top: 0;
    margin-bottom: 21px;
}

.exclusive-offers-text {
    color: #2A254B;
    font-size: 16px;

    margin-left: 49px;
    margin-bottom: 0;
    margin-top: 0;
    max-width: 470px;
}

.exclusive-offers-button {
    color: #FFF;
    font-size: 16px;
    font-weight: 400;
    padding: 16px 32px;
    background-color: #2A254B;
    border: none;

    margin-top: 216px;
    margin-left: 72px;
}





.footer {

    background-color: #2A254B;
    color: white;
    display: grid;

}

.footer-section {}

.footer-div-wrap {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    justify-content: space-between;
    padding-bottom: 48px;
    border-bottom: 1px solid #4E4D93;
    padding-top: 58px;
}

.footer-nav-menu {
    font-size: 16px;
    font-weight: 400;
    margin: 0;
}

.footer-nav-list {
    padding-left: 0;
    margin: 0;
    display: flex;
    gap: 12px;
    flex-direction: column;



}

.footer-nav-link {
    font-size: 14px;
    display: flex;
    flex-direction: column;
    row-gap: 12px;
    color: white;
}

.footer-div-pic {
    width: 50%;
}

.footer-pic-map {
    width: 642px;
    height: 202px;
}

.footer-div-copyright {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 24px 0;
}

.footer-text-copyright {
    font-size: 14px;
    font-weight: 400;
    margin-top: 0;
    margin-bottom: 0;


}

.footer-icon {
    width: 264px;
    display: flex;
    gap: 24px;
    padding: 0;
    margin: 0;
}

.footer-icon-list {
    display: flex;

}

.footer-icon-link {
    width: 24px;
    height: 24px;
    background-repeat: no-repeat;
    background-size: contain;
    background-position: center;
}

.linkedin {
    background-image: url(../img/logo--linkedin.svg);
}

.fas {
    background-image: url(../img/logo--facebook.svg);
}

.ins {
    background-image: url(../img/logo--instagram.svg);
}

.sk {
    background-image: url(../img/logo--skype.svg);
}

.tw {
    background-image: url(../img/logo--twitter.svg);
}

.pin {
    background-image: url(../img/logo--pinterest.svg);
}